html,
body,
#root {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}


.app-scroll {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


/* Hide scrollbars everywhere */
* {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE / Edge */
}

*::-webkit-scrollbar {
  display: none;                /* Chrome / Safari */
}
